In [2]:
lst=[[1,2,3],
    [4,5,6],
    [98,21,32]]

for i in range(0,3):
     print(lst[i].pop(), end = "")

3 6 32

1. 3,6,32

2. 
 * 3
 * 6
 * 32
3. 3 6 32
4. 3632

In [4]:
29.0 == 29

# 29
# True
# False
# None of the above

True

In [ ]:
Need below out put on following code

x
y
z

In [14]:
#code
    
dic = {}
lst = ["x","y","z","a"]

for i in range(len(lst)-1):
    dic[lst[i]] = (lst[i],)
  
for i in sorted(dic.keys()):
    k = dic[i]
    # insert ur code.

1. print(k)
2. print(k["0"])
3. print(k['0'])
4. print(k[0])

What are the way of making dictionary

1. dic = {}
2. dic = {"ali":1,"waqas":2}
3. dic = {1:"ali",2:"Waqas"}
4.  All of the above

In [15]:
tup = (1,2,3)
tup.append(4)
print(tup[-1])

AttributeError: 'tuple' object has no attribute 'append'

What will be the output

1. error
2. 4
3. 3
4. 1

In [16]:
if False:
    print("Waqas")
elif not(True):
    print("Me")
elif True:
    print("OK")
else:
    print("finished")

OK

What will be the answer

1. "Waqas"
2. "Me"
3. "OK"
4. "Finished"

In [19]:
0.2 + 0.4 == 0.6

False

What is the output

1. True
2. Error
3. False

In [20]:
my_name = "Waqas Ali"
print(my_name[3:5])

as

1. "aq"
2. "qa"
3. "as"
4. "s "

In [ ]:
l = [1,3,5,7,9,11]
l = [1,3,5,7,9,11]

for i in range(1,6):
    l[i-1] = l[i]

for i in range(0,6):
    print(l[i], end = "")

1. 1357911
2. 35791111
3. 3579111
4. 1113579

In [27]:
if "time" in {"name":"Saleem", "course":"A.I", "time":"9-3.30"}:
    print("Yes")
    print("ok")
    if "c" in "sea":
        print("ocean")
print("over")

Yes
ok
over

1. "ocean"
2. * "Yes"
   * "ok"
   * "over"
3. "over"
4. * "Yes"
   * "ok"

In [29]:
maths = 2/4 + 4//4 + 4**2
print(maths)

17.5

1. runtime error
2. syntax error
3. 17.5
4. 16

In [ ]:
names = ["ali", "noman", "rizwan", "asad"]

for name in names:
    if name == "rizwan":
        print(name.title())
    else:
        print(name.lower())

1. * ali
   * noman
   * rizwan
   * asad
2. * Ali
   * Noman
   * Rizwan
   * Asad
   
3. * ali
   * noman
   * Rizwan
   * asad
   
4. None of above

In [30]:
items = (1,2,3,[1,2,3])
items[3][1] = 20
print(items)

(1, 2, 3, [1, 20, 3])

1. error
2. (1,2,3,[1,2,3])
3. (1, 2, 3, [1, 20, 3])
4. None of above

In [31]:
print(1,2,2020, sep = "/")

1/2/2020

1. 122020
2. 2023
3. 1/2/2020
4. syntax error

Which legal variable definition is correct

1. variable can start with underscore
2. variable can not start with digit
3. variable can be a combination of letter and underscore
4. option 1,2 and 3 are correct
5. none of above

In [32]:
students = {"ali":1, 2:"Zohaib"}

2 in students

True

1. False
2. Error
3. True
4. None

In [33]:
a = 3
a += 3
a = 5
a -= 5
print(a)

0

1. 3
2. 6
3. 5
4. 0

In [36]:
a = 9%3 
b = (5*a+5)//2
print(b)

2

1. 10
2. 10.0
3. 5.0
4. 2

In [37]:
if ("a"> "b") and ("c">"b"):
    print("abc")
elif ("c">"b") or False:
    print("bc")
else:
    print(None)

bc

Output would be

1. "abc"
2. "bc"
3. None

In [38]:
l = [2,3]

for k in range(2):
    l.insert(-1,l[k])
print(l)

[2, 2, 2, 3]

1. [2,3,3,3]
2. [2,3,2,3]
3. [2,2,2,3]
4. [2,2,3,3]

In [39]:
a = 3
b = str(3)

print(a*b + b)

3333

1. syntax error
2. runtime error
3. 12
4. 3333

In [43]:
a = "3+7 ="
b = 3
c = 7
print(a+""+ str(b)+str(c))

3+7 =37

1. 10
2. "3+7 =10"
3. "3+7 = 37"
4. error

In [44]:
l = [2,3]

for k in range(2):
    l.insert(1,l[k])
print(l)

[2, 2, 2, 3]

1. [2,3,3,3]
2. [2,3,2,3]
3. [2,2,2,3]
4. [2,2,3,3]

In [45]:
x = 5
y = 3
z = x

if (int(5) + int(3)) == 8:
    x = 10
    y += 2
else:
    y = 6

print(z)

5

1. 10
2. 3
3. 6
4. 5

In [46]:
dictionary = {"Name":"Waqas", "age":27}
id1 = id(dictionary)
del dictionary
dictionary = {"Name":"Waqas", "age":27}
id2 = id(dictionary)
print(id1 == id2)

False

1. True
2. False
3. Exception
4. error

In [47]:
lst = [1,2,-1,-2]



print(lst[lst[-2]])

-2

1. 1
2. 2
3. -1
4. -2

How to add new item in a list1

1. list1.append(5)
2. list1.insert(1,5)
3. list1.pop(5)
4. list1.index(5)
5. list1.add(5)
6. list1.addend(5)

In [48]:
t = (1,2,3,4)
t = t[2-2]
t = t[0]
print(t)

TypeError: 'int' object is not subscriptable

1. 2
2. 0
3. 1
4. error

In [49]:
l = [1,8,16,24,32]
print(l.index(16))

2

1. 0
2. 1
3. 3
4. 2

illegal variable

1. inner
2. Inner
3. 1nner
4. INNER

In [50]:
print (not(5>4))

False

1. True
2. False
3. None of above

list of range 1 to 11

1. range(0,10) + 1
2. range(1,11)
3. range(0,11) + 1
4. range(1,2,3,4,5,6,7,8,9,10,11)

1. if a<b:if a > 9: print("ok")
2. if a<b:print("ok") else:print("ok2")
3. if a<b:print("ok")

   elif a>b:print("ok1")
   
   else:print("ok2")
4. All of above

In [57]:
if False:
    print("OK")

1. False
2. "OK"
3. error
4. Nothing will be printed

Python is

1. interpreted language
2. high level language
3. object oriented language
4. All of above

In [ ]:
fruits = ["Apple", "Mango", "Grapes","Apple", "Mango", "Grapes","Apple", "Mango", "Grapes","Apple", "Mango", "Grapes","Apple", "Mango", "Grapes","Apple", "Mango", "Grapes","Apple", "Mango", "Grapes","Apple", "Mango", "Grapes","Apple", "Mango", "Grapes","Apple", "Mango", "Grapes","Apple", "Mango", "Grapes","Apple", "Mango", "Grapes","Apple", "Mango", "Grapes","Apple", "Mango", "Grapes","Apple", "Mango", "Grapes","Mango", "Grapes","Mango", "Grapes","Mango", "Grapes","Mango", "Grapes","Mango", "Grapes","Mango", "Grapes","Mango", "Grapes","Mango", "Grapes","Mango", "Grapes","Mango", "Grapes"
         ]

In [ ]:
fruit_freq = {}

for i in fruits:
    if i not in fruit_freq:
        fruit_freq[i] = 1
    else:
        fruit_freq[i]+=1

In [ ]:
fruit_freq

In [ ]:
len(fruits)