In [1]:
name1 = "Ali Raza"
name2 = "Bilal"
name3 = "Amir"

In [2]:
marks1 = 93.5
marks2 = 96
marks3 = 45.5

In [3]:
names = ["Bilal", "Amir", "Bilal", "Hamza"]
names

['Bilal', 'Amir', 'Bilal', 'Hamza']

In [4]:
type(name1)

str

In [5]:
type(names)

list

In [6]:
print(type(names))

<class 'list'>

In [7]:
marks = [92, 95, 98, 50, 40, 60]

In [8]:
print(names)

['Bilal', 'Amir', 'Bilal', 'Hamza']




        0       1        2        3            399
    ['Bilal', 'Amir', 'Bilal', 'Hamza', .... "Ali"]

In [9]:
names[0]

'Bilal'

In [10]:
names[3]

'Hamza'

In [11]:
names[4]

IndexError: list index out of range

In [12]:
names[0]

'Bilal'

In [13]:
marks

[92, 95, 98, 50, 40, 60]

In [14]:
marks[0]

92

In [18]:
msg = names[0] + " secured " + str(marks[0]) + " marks"
print(msg)

Bilal secured 92 marks

In [19]:
msg = names[1] + " secured " + str(marks[1]) + " marks"
print(msg)

Amir secured 95 marks

In [21]:
names

['Bilal', 'Amir', 'Bilal', 'Hamza']

['Bilal', 'Amir', 'Bilal', 'Hamza', "Nasir"]

In [22]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [1]:
employee1_name = "Waqas"
employee1_age = 27
employee1_gender = "Male"

list is hetrogeneous and list ordered

In [2]:
employee1 = ["Waqas",27,"Male"]
type(employee1)

list

In [3]:
employee2 = []
type(employee2)

list

In [4]:
employee2.append("Faizan")
employee2.append(22)
employee2.append("Male")

In [5]:
employee2

['Faizan', 22, 'Male']

In [6]:
employee1.append(350000)
employee2.append(300000)

In [7]:
employee2[0]

'Faizan'

In [8]:
employee1[3]

350000

# List has two types of indexing

1. positive indexing. Its start from 0 from left to right
2. Negative indexing . Its start from -1 from right to left

In [9]:
employee1

['Waqas', 27, 'Male', 350000]

In [10]:
employee1[-4]

'Waqas'

# Slicing

In [17]:
employee1[1:]

[27, 'Male', 350000]

In [16]:
employee1[-3:]

[27, 'Male', 350000]

In [18]:
employee1[:]

['Waqas', 27, 'Male', 350000]

In [21]:
employee1[:-2]

['Waqas', 27]

In [22]:
employee1[-3:]

[27, 'Male', 350000]

In [23]:
employee2

['Faizan', 22, 'Male', 300000]

In [24]:
employee2.insert(1,"AI Eng")

In [25]:
employee2

['Faizan', 'AI Eng', 22, 'Male', 300000]

In [28]:
employee2[0] = "Faizan Amin"

In [29]:
employee2

['Faizan Amin', 'AI Eng', 22, 'Male', 300000]

In [30]:
del employee2[-2]

In [31]:
employee2

['Faizan Amin', 'AI Eng', 22, 300000]

In [32]:
employee2.remove('AI Eng')

In [33]:
employee2

['Faizan Amin', 22, 300000]

In [35]:
employee1

['Waqas', 27, 'Male', 350000]

In [36]:
employee1.index("Male")

2

In [37]:
salary = employee1.pop(-1)

350000

In [38]:
employee1

['Waqas', 27, 'Male']

In [39]:
employee1.pop()

'Male'

In [40]:
employee1

['Waqas', 27]

In [41]:
# salary = [employee1.pop()]
# salary.append()

In [42]:
employee1 = ['Waqas', 27, 'Male', 350000]
employee2 = ['Faizan', 22, 'Male', 300000]

In [43]:
employees = [employee1, employee2,["Khurram", 25, "Male",320000],["Saad", 23,"Male",200000]]

In [44]:
len(employees)

4

In [45]:
total_salary = employees[0][-1]+employees[1][-1]+employees[-2][-1]+employees[-1][-1]
total_salary

1170000

# For Loops

In [46]:
tot_salary = 0
for item in employees:
    tot_salary += item[-1] # tot_salary = tot_salary + item[-1]

In [47]:
tot_salary

1170000

In [48]:
salary = []
for i in employees:
    salary.append(i[-1])

In [49]:
salary

[350000, 300000, 320000, 200000]

In [50]:
salary_with_name = []
for i in employees:
    salary_with_name.append([i[0],i[-1]])

In [51]:
salary_with_name

[['Waqas', 350000], ['Faizan', 300000], ['Khurram', 320000], ['Saad', 200000]]

In [56]:
for i in range(10):
    print(i, "Waqas")

0 Waqas
1 Waqas
2 Waqas
3 Waqas
4 Waqas
5 Waqas
6 Waqas
7 Waqas
8 Waqas
9 Waqas

# Conditional Statements

# Comparision operator

* `==` equality/equals to
* `!=`not equals to
* `>` greater than
* `<` less than
* `>=`greater than and equal to
* `<=` less than equal to

In [54]:
employees

[['Waqas', 27, 'Male', 350000],
 ['Faizan', 22, 'Male', 300000],
 ['Khurram', 25, 'Male', 320000],
 ['Saad', 23, 'Male', 200000]]

In [57]:
salary_gr_250k = 0
for i in employees:
    salary = i[-1]
    if salary >= 250000:
        salary_gr_250k+= salary

In [58]:
salary_gr_250k

970000

In [59]:
if 2==2:
    print("ok")

ok

In [60]:
if 2==3:
    print("ok")

In [63]:
a = 2==3
type(a)

bool

In [62]:
2==2

True

In [64]:
a = False
a

False

In [65]:
b = "True"
type(b)

str

In [66]:
c = True
type(c)

bool

In [84]:
username = "Waqas"
password = "123"
if username=="Waqas":
    if password == "123":
        print("login successfull")
        print("Redirecting")
        
    else:
        print("wrong password")
else:
    print("invalid username")

login successfull
Redirecting

In [71]:
if username.lower() == "waqas":
    print("Corrent username")

Corrent username

In [72]:
"waqas" == "waqas"

True

In [80]:
if username == "Waqas" and password == "123":
    print("Login successfull")
else:
    print("Incorrect details")

Login successfull

In [81]:
True or False

True

In [82]:
username == 'Waqas' or password == "12"

True

In [91]:
marks = 85

In [92]:
if marks > 90:
    print("A Grade")
    
elif marks > 80:
    print("B Grade")
    
elif marks > 65:
    print("C Grade")
elif marks > 50:
    print("D Grade")
    
else:
    print("F Grade")

B Grade

In [93]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [94]:
data = [1,2,4,5, 5, 6]

In [95]:
data.count(5)

2

In [96]:
names = ["Ali", "Bilal", "Ali"]

In [97]:
names.count("Ali")

2

In [98]:
names.__contains__("Bilal")

True

In [99]:
"Bilal" in names

True

In [ ]:
names.append()