In [1]:
employee1 = ['Waqas', 27, 'Male', 350000]

Dictionary is a key value pair

In [2]:
employee = {"employee_Name":"Waqas","age":27,"gender":"Male",
            "Salary":350000}

In [4]:
print(type(employee))

<class 'dict'>

In [5]:
employee["age"]

27

In [8]:
employee["employee_Name"] = "Muhammad Waqas"

In [10]:
employee

{'employee_Name': 'Muhammad Waqas',
 'age': 27,
 'gender': 'Male',
 'Salary': 350000}

In [11]:
employee["position"] = "A.I Lead"

In [12]:
employee

{'employee_Name': 'Muhammad Waqas',
 'age': 27,
 'gender': 'Male',
 'Salary': 350000,
 'position': 'A.I Lead'}

In [13]:
employee["position"] = "Senior A.I Lead"

In [15]:
employee

{'employee_Name': 'Muhammad Waqas',
 'age': 27,
 'gender': 'Male',
 'Salary': 350000,
 'position': 'Senior A.I Lead'}

In [17]:
employee["Department"] = ["Finance", "Data Sciences"]

In [18]:
employee

{'employee_Name': 'Muhammad Waqas',
 'age': 27,
 'gender': 'Male',
 'Salary': 350000,
 'position': 'Senior A.I Lead',
 'Department': ['Finance', 'Data Sciences']}

In [19]:
employee["sub_ordinate"] = {"employee1":"Shazad","employee2":"Noman"}

In [20]:
employee

{'employee_Name': 'Muhammad Waqas',
 'age': 27,
 'gender': 'Male',
 'Salary': 350000,
 'position': 'Senior A.I Lead',
 'Department': ['Finance', 'Data Sciences'],
 'sub_ordinate': {'employee1': 'Shazad', 'employee2': 'Noman'}}

In [23]:
employee[('Finance', 'Data Sciences')] = 24

In [25]:
del employee[('Finance', 'Data Sciences')]

In [26]:
employee

{'employee_Name': 'Muhammad Waqas',
 'age': 27,
 'gender': 'Male',
 'Salary': 350000,
 'position': 'Senior A.I Lead',
 'Department': ['Finance', 'Data Sciences'],
 'sub_ordinate': {'employee1': 'Shazad', 'employee2': 'Noman'}}

In [27]:
employee1

['Waqas', 27, 'Male', 350000]

In [28]:
for content in employee1:
    print(content)

Waqas
27
Male
350000

In [32]:
for key in employee:
    print(key, employee[key])

employee_Name Muhammad Waqas
age 27
gender Male
Salary 350000
position Senior A.I Lead
Department ['Finance', 'Data Sciences']
sub_ordinate {'employee1': 'Shazad', 'employee2': 'Noman'}

In [33]:
for key in employee.keys():
    print(key)

employee_Name
age
gender
Salary
position
Department
sub_ordinate

In [34]:
for value in employee.values():
    print(value)

Muhammad Waqas
27
Male
350000
Senior A.I Lead
['Finance', 'Data Sciences']
{'employee1': 'Shazad', 'employee2': 'Noman'}

In [38]:
for k,v in employee.items():
    print(k,v)

employee_Name Muhammad Waqas
age 27
gender Male
Salary 350000
position Senior A.I Lead
Department ['Finance', 'Data Sciences']
sub_ordinate {'employee1': 'Shazad', 'employee2': 'Noman'}

In [42]:
employees = [{'employee_Name': 'Muhammad Waqas',
 'age': 27,
 'gender': 'Male',
 'Salary': 350000,
 'position': 'Senior A.I Lead',
 'Department': ['Finance', 'Data Sciences'],
 'sub_ordinate': {'employee1': 'Shazad', 'employee2': 'Noman'}},
            ]

In [41]:
a = {'employee_Name': 'Faizan',
 'age': 22,
 'gender': 'Male',
 'Salary': 350000,
 'position': 'Senior A.I Lead',
 'Department': ['A.I', 'Data Sciences'],
 'sub_ordinate': {'employee1': 'Waqas', 'employee2': 'Khurram'}}

In [43]:
employees

[{'employee_Name': 'Muhammad Waqas',
  'age': 27,
  'gender': 'Male',
  'Salary': 350000,
  'position': 'Senior A.I Lead',
  'Department': ['Finance', 'Data Sciences'],
  'sub_ordinate': {'employee1': 'Shazad', 'employee2': 'Noman'}}]

In [44]:
employees.append(a)

In [45]:
employees

[{'employee_Name': 'Muhammad Waqas',
  'age': 27,
  'gender': 'Male',
  'Salary': 350000,
  'position': 'Senior A.I Lead',
  'Department': ['Finance', 'Data Sciences'],
  'sub_ordinate': {'employee1': 'Shazad', 'employee2': 'Noman'}},
 {'employee_Name': 'Faizan',
  'age': 22,
  'gender': 'Male',
  'Salary': 350000,
  'position': 'Senior A.I Lead',
  'Department': ['A.I', 'Data Sciences'],
  'sub_ordinate': {'employee1': 'Waqas', 'employee2': 'Khurram'}}]

In [47]:
employees[0]["age"]

27

In [48]:
employees[1]['Department'][1]

'Data Sciences'

In [49]:
employee

{'employee_Name': 'Muhammad Waqas',
 'age': 27,
 'gender': 'Male',
 'Salary': 350000,
 'position': 'Senior A.I Lead',
 'Department': ['Finance', 'Data Sciences'],
 'sub_ordinate': {'employee1': 'Shazad', 'employee2': 'Noman'}}

In [50]:
employees

[{'employee_Name': 'Muhammad Waqas',
  'age': 27,
  'gender': 'Male',
  'Salary': 350000,
  'position': 'Senior A.I Lead',
  'Department': ['Finance', 'Data Sciences'],
  'sub_ordinate': {'employee1': 'Shazad', 'employee2': 'Noman'}},
 {'employee_Name': 'Faizan',
  'age': 22,
  'gender': 'Male',
  'Salary': 350000,
  'position': 'Senior A.I Lead',
  'Department': ['A.I', 'Data Sciences'],
  'sub_ordinate': {'employee1': 'Waqas', 'employee2': 'Khurram'}}]

In [52]:
employees[0]['sub_ordinate']['employee2']

'Noman'

In [53]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [54]:
employee

{'employee_Name': 'Muhammad Waqas',
 'age': 27,
 'gender': 'Male',
 'Salary': 350000,
 'position': 'Senior A.I Lead',
 'Department': ['Finance', 'Data Sciences'],
 'sub_ordinate': {'employee1': 'Shazad', 'employee2': 'Noman'}}

In [55]:
studentData = {}

studentData.fromkeys(["one", "two"])

{'one': None, 'two': None}

In [56]:
employee.keys()

dict_keys(['employee_Name', 'age', 'gender', 'Salary', 'position', 'Department', 'sub_ordinate'])

In [60]:
employee.get("ag")

In [61]:
print(employee.get("ag"))

None

In [62]:
employee.pop("age")
employee

{'employee_Name': 'Muhammad Waqas',
 'gender': 'Male',
 'Salary': 350000,
 'position': 'Senior A.I Lead',
 'Department': ['Finance', 'Data Sciences'],
 'sub_ordinate': {'employee1': 'Shazad', 'employee2': 'Noman'}}

In [63]:
employee.pop("Salary")

350000

In [65]:
employee.popitem()

('sub_ordinate', {'employee1': 'Shazad', 'employee2': 'Noman'})

In [66]:
employee

{'employee_Name': 'Muhammad Waqas',
 'gender': 'Male',
 'position': 'Senior A.I Lead',
 'Department': ['Finance', 'Data Sciences']}

In [67]:
newData = {"name" : "Ali", "age" : 28}

In [68]:
employee.update(newData)

In [69]:
employee

{'employee_Name': 'Muhammad Waqas',
 'gender': 'Male',
 'position': 'Senior A.I Lead',
 'Department': ['Finance', 'Data Sciences'],
 'name': 'Ali',
 'age': 28}

In [71]:
hobbies = input("Enter hobbies. Seperate by comma:")

Enter hobbies. Seperate by comma:fishing, reading, gaming

In [72]:
type(hobbies)

str

In [77]:
employees[0]["age"] = int(input("Enter your age:"))

Enter your age:28

In [78]:
employees

[{'employee_Name': 'Muhammad Waqas',
  'age': 28,
  'gender': 'Male',
  'Salary': 350000,
  'position': 'Senior A.I Lead',
  'Department': ['Finance', 'Data Sciences'],
  'sub_ordinate': {'employee1': 'Shazad', 'employee2': 'Noman'}},
 {'employee_Name': 'Faizan',
  'age': 22,
  'gender': 'Male',
  'Salary': 350000,
  'position': 'Senior A.I Lead',
  'Department': ['A.I', 'Data Sciences'],
  'sub_ordinate': {'employee1': 'Waqas', 'employee2': 'Khurram'}}]

In [79]:
tableValue = int(input("Enter value for table: "))

for i in range(1, 11):
    print(f"{tableValue} * {i} = {i * tableValue}")

Enter value for table: 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

6 * 1 = 6      7 * 1 = 7           
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
â€‹

In [80]:
data = "My name is {}. I am in {}".format("Faizan", "Saylani")

In [81]:
data

'My name is Faizan. I am in Saylani'

In [82]:
name = "Faizan"
location = "Saylani"
data = f"My name is {name}. I am in {location}"

In [83]:
data

'My name is Faizan. I am in Saylani'