In [1]:
import csv

In [4]:
# f = open("artworks_clean.csv", encoding = "utf-8")
# read = csv.reader(f)
# artwork = list(read)

In [3]:
artworks = list(csv.reader(open("artworks_clean.csv", 
                           encoding = "utf-8")))

In [5]:
len(artworks)

16692

In [9]:
# display(artworks[:3])
print(artworks[:3])

[['Title', 'Artist', 'Nationality', 'BeginDate', 'EndDate', 'Gender', 'Date', 'Department'], ['Dress MacLeod from Tartan Sets', 'Sarah Charlesworth', 'American', '1947', '2013', 'Female', '1986', 'Prints & Illustrated Books'], ['Duplicate of plate from folio 11 verso (supplementary suite, plate 4) from ARDICIA', 'Pablo Palazuelo', 'Spanish', '1916', '2007', 'Male', '1978', 'Prints & Illustrated Books']]

In [11]:
header = artworks[0]
artworks = artworks[1:]

In [15]:
def clean_year(str_year):
    if str_year == "":
        return str_year
    else:
        return int(str_year)

In [16]:
clean_year("1947")

1947

In [17]:
clean_year("")

''

In [18]:
for i in artworks:
#     dob = i[3]
#     doe = i[4]
#     sub = i[-2]
#     print(int(sub))
#     i[3] = clean_year(dob)
#     i[4] = clean_year(doe)
#     i[6] = clean_year(sub) # int(sub)
    i[3] = clean_year(i[3])
    i[4] = clean_year(i[4])
    i[6] = int(i[-2]) # clean_year(i[6])

In [ ]:
# int("")

In [22]:
sub_ages = []

for i in artworks:
    dob = i[3]
    sub = i[-2] # i[6]
    if type(dob) == str: # if dob == "" 
        sub_ages.append(0)
    else:
        diff = sub - dob
        sub_ages.append(diff)

In [21]:
# 1925 - ""

In [23]:
len(sub_ages)

16691

In [ ]:
# 1947 1948
# 1947 1940

In [24]:
# [0,-7,25,33,92,-2]

final_ages = []

for i in sub_ages:
    if i > 20:
        final_ages.append(i)
    else:  # elif i <= 20
        final_ages.append("unknown")

In [ ]:
# 20-29  "20s"
# 30-39   "30s"
# 70-79   "70s"

In [29]:
i = 73
str(i)[:-1] + "0s"

'70s'

In [28]:
decades = []
for i in final_ages:
    if type(i) == str:
        decades.append(i)
    else:
        decades.append(str(i)[:-1]+"0s")

In [30]:
decades = []

for i in final_ages:
    if type(i) == int:
        dec = str(i)[:-1] + "0s"
        decades.append(dec)
    else:
        decades.append(i)

In [33]:
len(decades)

16691

In [34]:
# decades_freq = {"20s":349,"30s":1953,"unknown":489}

decades_freq = {}

for i in decades:
    if i in decades_freq:
        decades_freq[i] += 1
    else:
        decades_freq[i] = 1

In [35]:
decades_freq = {}

for i in decades:
    if i not in decades_freq:
        decades_freq[i] = 1
    elif i in decades_freq:
        decades_freq[i] += 1

In [36]:
decades_freq = {}

for i in decades:
    if i not in decades_freq:
        decades_freq[i] = 1
    else:
        decades_freq[i] += 1

In [37]:
decades_freq

{'30s': 4714,
 '60s': 1353,
 '70s': 558,
 '40s': 4073,
 '50s': 2426,
 '20s': 1853,
 'unknown': 1093,
 '90s': 252,
 '80s': 363,
 '100s': 3,
 '110s': 3}

In [45]:
"There are 4,714 artworks submitted by the age of 30s"

'There are 4,714 artworks submitted by the age of 30s'

In [43]:
for k,v in decades_freq.items():
    print("There are " + str(v) + " artworks submitted by the age of " + k )

There are 4714 artworks submitted by the age of 30s
There are 1353 artworks submitted by the age of 60s
There are 558 artworks submitted by the age of 70s
There are 4073 artworks submitted by the age of 40s
There are 2426 artworks submitted by the age of 50s
There are 1853 artworks submitted by the age of 20s
There are 1093 artworks submitted by the age of unknown
There are 252 artworks submitted by the age of 90s
There are 363 artworks submitted by the age of 80s
There are 3 artworks submitted by the age of 100s
There are 3 artworks submitted by the age of 110s

In [54]:
for k,v in decades_freq.items():
    print("There are {:,} artworks submitted by the age of {}". format(v,k) )

There are 4,714 artworks submitted by the age of 30s
There are 1,353 artworks submitted by the age of 60s
There are 558 artworks submitted by the age of 70s
There are 4,073 artworks submitted by the age of 40s
There are 2,426 artworks submitted by the age of 50s
There are 1,853 artworks submitted by the age of 20s
There are 1,093 artworks submitted by the age of unknown
There are 252 artworks submitted by the age of 90s
There are 363 artworks submitted by the age of 80s
There are 3 artworks submitted by the age of 100s
There are 3 artworks submitted by the age of 110s

In [57]:
for k,v in decades_freq.items():
    print(f"There are {v:,} artworks submitted by the age of {k}" )

There are 4,714 artworks submitted by the age of 30s
There are 1,353 artworks submitted by the age of 60s
There are 558 artworks submitted by the age of 70s
There are 4,073 artworks submitted by the age of 40s
There are 2,426 artworks submitted by the age of 50s
There are 1,853 artworks submitted by the age of 20s
There are 1,093 artworks submitted by the age of unknown
There are 252 artworks submitted by the age of 90s
There are 363 artworks submitted by the age of 80s
There are 3 artworks submitted by the age of 100s
There are 3 artworks submitted by the age of 110s

In [46]:
a = 98647231083
"there are {:,}".format(a)

'there are 98,647,231,083'

In [52]:
a = 98647.2389
"there are {value:,.2f}".format(value = a)

'there are 98,647.24'