In [1]:
print("Waqas", "Ali")
print("Ahsan", "Ali")

Waqas Ali
Ahsan Ali

In [4]:
print("Waqas", "Ali", end = " ")
print("Ahsan", "Ali")

Waqas Ali Ahsan Ali

In [12]:
print("Waqas", "Ali", sep = "-", end = " " )
print("Ahsan", "Ali", sep = "*")

Waqas-Ali Ahsan*Ali

# Legal Varaibale

1. it includes number, underscore and letter
2. number cant comes firtst

In [ ]:
_ = 8 # Numbers
name_1 = "Saylani" # variable for strings

In [ ]:
1name = "Saylani"

In [13]:
27
27.0

27==27.0

True

In [14]:
27==27.00001

False

In [15]:
27 == "27.0"

False

In [16]:
my_name = "Waqas Ali"
print(my_name[0])
my_name[2:4]

W

'qa'

In [20]:
my_name[-2:]
my_name[::2]
my_name[::-1]

'ilA saqaW'

In [23]:
# +
# -
# /
# *
# ** exponent
print(3**4 == 3*3*3*3)  # 81==81  3**(1/2)

# // floor divisio
print(4//3)  # 4/2.5 = 1.77777

# % modulus 
4%3

True
1

1

In [24]:
4**2+ 3//2-1

16

In [25]:
# PEMDAS
# ()**

my_name = "Waqas"
num = 8
my_name + str(8)

'Waqas8'

In [28]:
"Waqas"*3

'WaqasWaqasWaqas'

In [29]:
a = 7
a-=3  # a = 4
a = 3 #  a = 3
a-=1  # a = 2
a

2

In [30]:
a = 10%4

print("My answer is " + str(a))

My answer is 2

In [31]:
print((a*4)//3)

2

In [32]:
a = 5
b = str(3)
a*b

'33333'

In [33]:
if a==2:
    print("OK")
else:
    print("Not Ok")

Not Ok

In [34]:
if False:
    print("OK")
elif not(True):
    print("Thats OK")
elif True:
    print("Done")
else:
    print("Everything is ok")
    
# this is a comments

Done

In [ ]:
# ==
# !=
# >
# <
# >=
# >=

In [ ]:
# and
# or 
# not

In [35]:
if (5==5) and (7!=7):
    print("Good")
elif (5==5) or (7!=7):
    print("Not Good")
else:
    Print("Complete")

Not Good

In [ ]:
lst = []
type(lst)

In [36]:
lst = [[1,2,3],
      [4,5,6],
      [7,8,9],
      [10,11,12]]


for i in range(len(lst)):
    # print(i)
    print(lst[i].pop())

3
6
9
12

In [37]:
lst

[[1, 2], [4, 5], [7, 8], [10, 11]]

In [38]:

for i in range(len(lst)):
    # print(i)
    print(lst[i].pop(0), end = " ")

1 4 7 10

In [39]:
lst = [1,2,3,4]

for i in range(1,4):
    lst[i-1] = lst[i] # lst[0] = lst[1]
                      #lst[1] = lst[2]
                     #lst[2] = lst[3]
lst

[2, 3, 4, 4]

In [42]:
cities = ["khi","fsd", "isl", "lhr" ]

for city in cities:
    if city == "fsd":
        print(city.upper(), end = " ")
    else:
        print(city,end = " ")

khi FSD isl lhr

In [43]:
lst = [1,2]

for i in range(2):
    lst.insert(-1, lst[i]) #lst = [1,1,2]
                           # lst = [1,1,1,2]
    
lst

[1, 1, 1, 2]

In [44]:
lst = [1,2]

for i in range(2):
    lst.insert(1, lst[i]) 
                           
    
lst

[1, 1, 1, 2]

In [45]:
print(lst[lst[0]]) # print(lst[1])

1

In [47]:
print(lst[lst.index(2)]) # print(lst[3])

2

adding item in a list:

1. insert
2. append

In [49]:
x = [1,7,25,39]

print(x.index(39))

3

In [50]:
tup = (1,2,3,4)
tup[0] = 7

TypeError: 'tuple' object does not support item assignment

In [51]:
tup = tup[0]
tup

1

In [52]:
tup[0]

TypeError: 'int' object is not subscriptable

In [53]:
tup = ("Waqas", 3,  [1,2,3])

tup[2].append(4)

In [54]:
tup

('Waqas', 3, [1, 2, 3, 4])

# Dictionary

a = {}

a = {1:"Apple", 2:"Mango"}

a = {"Apple":1, "Mango":2}

a["Apple"] = 2

a["Grapes"] = 3

In [58]:
a = {}

lst = [1,2,3,4]

for i in range(len(lst)-1):
    a[i] = (lst[i],)
print(a)

{0: (1,), 1: (2,), 2: (3,)}

In [59]:
for i in a.keys():
    # print(i)
    print(a[i][0]) # (1,)
                # (2,)
                # (3,)

1
2
3

In [61]:
for i in a.values():
    # print(i)
    print(i[0]) # (1,)
                # (2,)
                # (3,)

1
2
3

# membership operator

1. in
2. not in

Membership operator can be applied on

1. string
2. tuple
3. list
4. dictionary

In [62]:
"k" in "Pakistan"

True

In [63]:
6 in (2,7,8,9)

False

In [64]:
1 not in {"Apple":1, "Mango":2}

True

In [65]:
"Apple" in {"Apple":1, "Mango":2}

True

In [66]:
if "Apple" in {"Apple":1, "Mango":2}:
    print("Yes")
    print("OK")
    if "Paak" in "Pakistan":
        print("Zindabad")
        
print("finished")

Yes
OK
finished

In [67]:
if "Apple" in {"Apple":1, "Mango":2}:
    print("Yes")
    print("OK")
    if "Pak" in "Pakistan":
        print("Zindabad")
        
print("finished")

Yes
OK
Zindabad
finished